@media only screen and (max-width: 500px){
    .row1 img{
        width: 25% !important;
        padding: 0.5rem;
    }
    .row2 img{
        width: 25% !important;
        padding: 0.5rem;
    }
}